<div class="cont-<%= message.user.id %>">
<div class="message-box msg-<%= message.user.id %>  text-white">
    <h4 class="text-3xl"> <%= message.user.username %> </h6>
    <%= message.content %>
</div>
</div>