<div class="m-auto w-min bg-white shadow overflow-hidden sm:rounded-lg">
<h2 class="text-4xl font-bold ">Create new room</h2>
  <%= form_for @room do |f|%>
    <%= f.label :title %>
    <%= f.text_field :title %> <br>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">
    Create
    </button>
  <% end %>
</div>